*{
    padding:0;
    margin:0;
}
/*

overflow:hidden;
overflow-y:hidden;  для вертикального
overflow-x:hidden;  для горизонтального


body {
    overflow: hidden;
} */

body{
    overflow-x:hidden;
}

.limit_img{
    /* max-width:1110px; */
    max-width:1656px;
    height:100%;
    margin:0 auto;
}

a{
    text-decoration:none;
    font-size:12px;
    color:#fff;
}

.limit{
    width:1110px;
    height:100%;
    margin:0 auto;
}

/* header */
.header{
    width:100%;
    height:951px;
    background: url("../img/replace\ bg.png") no-repeat;
}

/* nav */

.nav{
    width:100%;
    height:50px;
    background:#4a657d;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
}

.phon{
    margin-top:18px;
}

.phon_a{
    margin-left:14px;
}

.gmail{
    margin-left:35px;
}

.gmail_a{
    font-size:12px;
    margin-left:14px;
}

.border{
    position:absolute;
    margin-left:14px;
    margin-top:20px;
}

.icon1{
    margin-left:260px;
}

.icon{
    margin-left:20px;
}

.support{
    position:absolute;
    margin-top:20px;
    margin-left:35px;
}

.support_a{
    margin-left:65px;
}

.box{
    width:204px;
    height:50px;
    background:#1f87e4;
    font-size:20px;
    outline: none;
    border:none;
    cursor:pointer;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    /* position:absolute; */
    display:block;
    margin-top:-36px;
    margin-left:1020px;
}

/* nav2 */

.nav2{
    height:100px;
    width:100%;
    background:#fff; 
}

.logo{
    margin-top:16px;
}

.nav2_a1{
    position:absolute;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#1f87e4;
    margin-left:475px;
    margin-top:45px;
}

.nav2_a2{
    position:absolute;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#1f87e4;
    margin-left:550px;
    margin-top:45px;
}

.nav2_a3{
    position:absolute;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#1f87e4;
    margin-left:665px;
    margin-top:45px;
}

.nav2_a4{
    position:absolute;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#1f87e4;
    margin-left:740px;
    margin-top:45px;
}

.nav2_a5{
    position:absolute;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#1f87e4;
    margin-left:870px;
    margin-top:45px;
}

.header_h1{
    font-size:50px;
    color:#4a657d;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    margin-top:315px;
    margin-left:50px;
}

.header_p{
    font: size 14px;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#6e8497;
    margin-left:290px;
}

.box2{
    width:204px;
    height:50px;
    background:#1f87e4;
    font-size:20px;
    outline: none;
    border:none;
    cursor:pointer;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    position:absolute;
    margin-left:453px;
    margin-top:42px;
}

.About{
    width:100%;
    height:758px;
}

.img_about{
    margin-top:100px;
}

.about_p{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:36px;
    color:#4a657d;
    margin-top:-600px;
    margin-left:510px;
}

.about_p2{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:36px;
    color:#1f87e4;
}

.about_p3{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#4a657d;
    margin-left:510px;
    margin-top:35px;
    line-height:30px;
}

.box3{
    width:204px;
    height:50px;
    background:#1f87e4;
    font-size:20px;
    outline: none;
    border:none;
    cursor:pointer;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    margin-left:510px;
    margin-top:64px;
}

.features_top{
    width:100%;
    height:122px;
}

.itolon{
    font-size:21px;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#4a657d;
    text-align:center;
}

.about_p4{
    font-size:14px;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#4a657d;
    text-align:center;
    line-height: 25px;
    margin-top:10px;
}

.features{
    width:100%;
    height:575px;
}

.carta{
    float:left;
    width:350px;
    height:395px;
    background:#edeff2;
    margin-top:60px;
    color:#5e768c;
    margin-left:10px;
    cursor:pointer;
}

.carta:hover{
    transition:3s;
    background:rgb(0, 0, 0);
    color:#fff;
    border-radius:10px;
}

.careta_icon{
    margin-left:153px;
    margin-top:70px;
    margin-bottom:25px;
}

.careta_p{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    text-align:center;
    margin-bottom:30px;
}

.carta_button{
    width:107px;
    height:38px;
    background:#1f87e4;
    border:none;
    outline: none;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    margin-left:122px;
    cursor:pointer;
}

.Portfolio{
    width:100%;
    height:505px;
}

.port_p{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    color:#4a657d;
    text-align:center;
    margin-bottom:33px;
}

.port_p2{
    font-size:14px;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#4a657d;
    text-align:center;
    margin-bottom:53px;
}

.port_box{
    width:255px;
    height:255px;
    float:left;
}

.port_box2{
    width:255px;
    height:255px;
    float:left;
    margin-left:30px;
}

.port_box_p{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#1f87e4;
    font-size:14px;
    margin-top:20px;
    margin-bottom:10px;
}

.port_box_p2{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#4a657d;
    font-size:12px;
}

.full{
    width:100%;
    height:409px;
    position:relative;
    background:url(../img/bg.png) no-repeat;
    margin:0 auto;
}

.full_img{
    width:100%;
}

.port_3{
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    color:#fff;
    text-align:center;
    margin-bottom:33px;
    margin-top:100px;
    position:absolute;
    margin-left:469px;
}

.port_p4{
    font-size:14px;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    text-align:center;
    margin-bottom:53px;
    position:absolute;
    margin-top:146px;
    margin-left:292px;
}

.full_box{
    width:255px;
    height:200px;
    float:left;
    margin-top:209px;
    color:#fff;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    text-align:center;
}

.full_box1{
    width:255px;
    height:200px;
    float:left;
    margin-top:209px;
    margin-left:30px;
    color:#fff;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    text-align:center;
}

.namber{
    margin-top:30px;
    margin-bottom:10px;
    font-size:60px;
}

.background{
    width:100%;
    height:560px;
    background:url(../img/bg1.png);
}

.title{
    margin-top:80px;
    width:100%;
    height:166px;
}

.navegation{
    position:relative;
    /* 1 Fonts */
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    color:#fff;
    padding:18px; 
}

.navegation:hover{
    color:#1f87e4;
    transition:2s;       
}

.nav_background{
    width:428px;
    height:20px;
    text-align:center;
    position:absolute;
    margin-top:100px;
    margin-left:347px;
}

.slider{
    width:1656px;
    height:300px;
    margin:0 auto;
    margin-top:-400px;
}

.slaider_img{
    float:left;
}

